/* 👇 FULL SCREEN BACKGROUND */
.landing-page {
  height: 100vh;
  width: 100%;
  background-image: url('../../../assets/img_1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center; 
  align-items: center;   
}


.landing-content {
  background: rgba(0,0,0,0.5); 
  padding: 2rem;
  border-radius: 12px;
  max-width: 500px;
  width: 100%;
  text-align: center;
}


.landing-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #fff;
}
.landing-content p {
  margin-bottom: 1.5rem;
  color: #fff;
}

/* Input */
.search-input {
  width: 220px; 
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #333;
  background: #222;
  color: #fff;
}

.landing-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}
.sign-link, .register-link {
  font-size: 1.1rem;
  color: #fff;
  padding: 0.75rem 2rem;
  border-radius: 8px;
  text-decoration: none;
}
.sign-link { background: #7702FF; }
.register-link { background: #F0060B; }

.search-wrapper {
  position: relative;
  width: 100%;
}

.search-results {
  position: absolute;
  width: 230px;
  background: rgba(0,0,0,0.8);
  color: #fff;
  border-radius: 6px;
  max-height: 200px;
  text-align: start;
  max-width: 70%;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-left: 26%;
}

.search-results ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
}

.search-results a {
  color: #fff;            
  text-decoration: none;  
  display: inherit;         
  max-width: 100%;        
}

.search-results a:hover {
  color: #ffcc00;  
  background-color: grey;
  width: 100%;
  border-radius: 5px;
  padding: 1px;
}